* {
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    #hamburger {
        position: absolute;
        right: 3vw;
        top: 3vh;
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .line {
        height: 4px;
        width: 30px;
        background-color:#3c465e;
        margin-top: 2.5px;
        margin-bottom: 2.5px;
    }
    #extmenu {
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: red;
        z-index: 1200;
        animation-name: extend;
        animation-duration: .75s;
    }
    @keyframes extend {
        from {right: -100vw;}
        to {right: 0vw;}
    }

}