<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/89b80ade-feda-462d-818d-0759f7657a65/resourceGroups/test/providers/Microsoft.Web/sites/bkeener</ResourceId>
    <ResourceGroup>test</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://bkeener.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cc0c8575-be61-4d3f-987f-90406d9db49a</ProjectGuid>
    <PublishUrl>https://bkeener.scm.azurewebsites.net/</PublishUrl>
    <UserName>$bkeener</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>