<div class="header">
  <h1 class="logo">Gymnastics & Dance Tampa Bay</h1>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/gallery">Gallery</a></li>
  </ul>
</div>

<div class="abt-m-container">
    <div class="l-abt-m">
        <h2 class="theme-t" style="white-space: nowrap">About Elena Tan</h2>
        <p>I was born in Russia and introduced to Gymnastics and Ballet by my parents from early age.  After completing high school, I attended vocational school for children and taught dance classes for elementary and middle school students.  I choreographed many rhythmic gymnastics and dance pieces during that time including ballet, jazz, contemporary and character dances.  I attended Moscow Art University for Dance, graduated and worked Gymnastics and Dance teacher for 18 years in various schools. I also worked in professional dance companies as a dancer travelling few countries including Moiseyev Dance Company.  I moved to Florida in 2004 and worked as a dance teacher in couple of dance ballet studios.  I decided to open my own classes in 2015 with a different teaching approach. I believe every child is unique and has their own key to open their potential. My classes are combination of Gymnastics, various Dance techniques, Ballet and Stretching.</p>
    </div>
    <div class="r-abt-m">
        <img id="m-image" src="~/images/instructor.png" alt="photo of main instructor, Elena Tan">
    </div>
    
</div>

<footer>
    <div class="l-footer">
        <h6>13972 W. Hillsborough Avenue Tampa, Florida</h6>
    </div>
    <div class="r-footer">
        <div>
            <img src="~/images/phone-icon.png" alt="phone">
            <h6>813.453.9513</h6>
        </div>
        <div>
            <img src="~/images/email-icon.png" alt="phone">
            <h6>info@gymnasticsanddancetampabay.com</h6>
        </div>
    </div>
</footer>

</div>

