<div class="header">
  <h1 class="logo">Gymnastics & Dance Tampa Bay</h1>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="#home">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/gallery">Gallery</a></li>
  </ul>
</div>

<div class="m-container">
    <img id="m-image" src="~/images/main-photo.png" alt="photo of main instructor, Elena Tan, and her class">
    <h2 class="theme-t">Gymnastics and Dance Classes for Ages 3 and Up</h2>
    <h2 class="theme-g">All classes taught by Moscow Art School Graduate Elena Tan </h2>
    <div class="GymDanceStretch-container">
        <div class="GDS">
            <img src="~/images/gym-picture.png" alt="class participating in gymnastics">
            <h2 class="theme-t">Gymnastics</h3>
        </div>
        <div class="GDS">
            <img src="~/images/dance-picture.png" alt="class participating in dance">
            <h2 class="theme-t">Dance</h3>
        </div>
        <div class="GDS">
            <img src="~/images/stretch-picture.png" alt="class participating in stretch">
            <h2 class="theme-t">Stretching</h3>
        </div>
    </div>

<footer>
    <div class="l-footer">
        <h6>13972 W. Hillsborough Avenue Tampa, Florida</h6>
    </div>
    <div class="r-footer">
        <div>
            <img src="~/images/phone-icon.png" alt="phone">
            <h6>813.453.9513</h6>
        </div>
        <div>
            <img src="~/images/email-icon.png" alt="phone">
            <h6>info@gymnasticsanddancetampabay.com</h6>
        </div>
    </div>
</footer>
    

    
    

</div>

