<h1>Login</h1>
@model LoginUser

<form method="post" asp-action="LoginForm" asp-controller="Home">
        <span asp-validation-for="Username"></span>
        <label asp-for="Username">Username</label>
        <input type="text" name="Username" asp-for="Username">
    </div>
     <div>
        <span asp-validation-for="Password"></span>
        <label asp-for="Password">Password</label>
        <input type="password" name="Password" asp-for="Password">
    </div>
    <input type="submit" value="Login">
</form>