* {
    padding: 0px;
    margin: 0px;
    border-collapse: separate;
}

.zindex {
    z-index: 9999;
}

.center-me {
        margin: 0 auto;
        display: block;
}

.top-page {
    margin-top: 20vh;
}

a {
    text-decoration: none;
}

.w {
    color: white;
}

img {
    width: 150px;
    height: 150px;
}

.logo-container {

}