<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canoo: Electric Lifestyle, Sport and Working Vehicles</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="canoo icon" href="{{ url_for('static', filename='canoo_website_logo.jpg') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
        <nav>
            <div id="hamburger" onclick="extendnav()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div id="action-menu">
                <div class="action-item-l">
                    <div class="action-item">
                        <img src="{{ url_for('static', filename='left-chev-arrow.svg') }}" alt="exit navbar" onclick="retractnav()">
                    </div>
                    <div class="action-item">
                        <a href="https://m.facebook.com/canoo/"><img src="{{ url_for('static', filename='Facebook.svg') }}" alt="facebook"></a>
                    </div>
                    <div class="action-item">
                        <a href="https://www.instagram.com/canoo/?hl=en"><img src="{{ url_for('static', filename='Instagram.svg') }}" alt="instagram"></a>
                    </div>
                    <div class="action-item">
                        <a href="https://www.linkedin.com/mwlite/company/canoo"><img src="{{ url_for('static', filename='Linkedin.svg') }}" alt="Linkedin"></a>
                    </div>
                    <div class="action-item">
                        <a href="https://mobile.twitter.com/canoo/"><img src="{{ url_for('static', filename='Twitter.svg') }}" alt="Twitter"></a>
                    </div>
                    <div class="action-item">
                        <a href="https://vimeo.com/canoo/" alt="Vimeo"><img src="{{ url_for('static', filename='Vimeo.svg') }}" alt="Vimeo"></a>
                    </div>
                </div>
                <div class="action-item-text">
                    <h2>HOME</h2>
                </div>
                <div class="action-item-text">
                    <h2>LIFESTYLE VEHICLE</h2>
                </div>
                <div class="action-item-text">
                    <h2>MULTI-PURPOSE DELIVERY VEHICLE</h2>
                </div>
                <div class="action-item-text">
                    <h2>PICKUP TRUCK</h2>
                </div>
                <div class="action-item-text">
                    <h2>PLATFORM</h2>
                </div>
                <div class="action-item-text">
                    <h2>ENGINEERING</h2>
                </div>
                <div class="action-item-text">
                    <h2>SUSTAINABILITY</h2>
                </div>
                <div class="action-item-text">
                    <h2>ABOUT</h2>
                </div>
                <div class="action-item-text">
                    <h2>INVESTORS</h2>
                </div>
            </div>
        </nav>
        <div id="home-fp">
            <img src="{{ url_for('static', filename='home-1-canoo.png') }}" alt="canoo logo" id="first-top-img">
            <img src="{{ url_for('static', filename='wht-logo-home.png') }}" alt="canoo logo" id="home-logo">
            <p class="home-fp-text" name="fp-text">Lifestyle Vehicle</p>
            <p class="home-fp-subhead" name="fp-text">A LOFT ON WHEELS</p>
            <p class="home-fp-subtext" name="fp-text">Launching late 2022. Starting at $34,750*</p>
            <button class="learn-more-ab">LEARN MORE</button>
            <p class="PREORDER-NOW">PREORDER NOW</p>
            <div id="carousel">
                <img src="{{ url_for('static', filename='left-chev-arrow.svg') }}" alt="previous photograph" onclick="carouselmov(-1)">
                <div id="hp-line-container">
                    <div class="hp-line-sel" name="line" onclick="carouselmovline(1)"></div>
                    <div class="hp-line-unsel" name="line" onclick="carouselmovline(2)"></div>
                    <div class="hp-line-unsel" name="line" onclick="carouselmovline(3)"></div>
                </div>
                <img src="{{ url_for('static', filename='right-chev-arrow.svg') }}" alt="next photograph" onclick="carouselmov(1)">
            </div>
        </div>
        <div class="car-show">
            <div class="divider-1">
                <p class="top-cs-t">ENGINEERING THE IMPOSSIBLE</p>
                <p class="top-cs-st">Driven by technology, Canoo electric vehicles are powered by innovation that puts you in charge.</p>
            </div>
            <div class="divider">
                <div>
                    <p class="below-show-h">LIFESTYLE VEHICLE</p>
                </div>
                <img class="below-show" src="static\home-lv.png" alt="">
                <div class="below-show-st-container">
                    <p>LEARN MORE</p>
                    <p>PREORDER</p>
                </div>
            </div>
        </div>
        <div class="car-show">
            <div class="divider">
                <div>
                    <p class="below-show-h">MPDV</p>
                </div>
                <img class="below-show" src="static\home-mpdv2.png" alt="mpdv vehicle">
                <div class="below-show-st-container">
                    <p>LEARN MORE</p>
                    <p>PREORDER</p>
                </div>
            </div>
            <div class="divider">
                <div>
                    <p class="below-show-h">PICKUP TRUCK</p>
                </div>
                <img class="below-show" src="static\home-truck.png" alt="truck version">
                <div class="below-show-st-container">
                    <p>LEARN MORE</p>
                    <p>PREORDER</p>
                </div>
            </div>
        </div>
        <div class="car-show">
            <div class="divider">
                <div>
                    <p class="below-show-h">LOADING...</p>
                </div>
                <img class="below-show" src="static\home-sport-soon.png" alt="sport vehicle">
                <div class="below-show-st-container">
                    <p>LEARN MORE</p>
                </div>
            </div>
            <div class="divider">
                <div>
                    <p class="below-show-h">PLATFORM</p>
                </div>
                <img class="below-show" src="static\home-b2b.png" alt="b2b vehicle">
                <div class="below-show-st-container">
                    <p>LEARN MORE</p>
                </div>
            </div>
            <div class="divider">
                <div class="l-title">
                    <p>Featured In</p>
                </div>
                <div class="press-container">
                    <a href="https://www.bloomberg.com/news/articles/2019-09-25/california-startup-plans-to-sell-electric-vehicles-by-subscription" target="_blank"><img src="static\press-bb.png" alt="bloomberg"></a>
                    <a href="https://www.cnn.com/2019/09/24/cars/canoo-electric-car-subscription/index.html" target="_blank"><img src="static\press-cnn.png" alt="CNN"></a>
                    <a href="https://www.fastcompany.com/90453226/could-this-very-odd-looking-electric-car-convince-you-to-ditch-your-suv" target="_blank"><img src="static\press-fc.png" alt="FC"></a>
                    <a href="https://www.youtube.com/watch?v=5FIViMSeigM" target="_blank"><img src="static\press-jay.png" alt="Jay Leno's Garage"></a>
                    <a href="https://techcrunch.com/2019/09/24/canoo-takes-the-covers-off-of-its-debut-electric-vehicle/" target="_blank"><img src="static\press-tc.png" alt="TC"></a>
                    <a href="https://www.nytimes.com/2020/05/13/business/byton-canoo-ev.html" target="_blank"><img src="static\press-tnyt.png" alt="The New York Times"></a>
                </div>
            </div>
            <div class="car-show last_hp">
                <div id="sign-up-form">
                    <p>GET UPDATES ON PRODUCTS, NEWS AND EVENTS.</p>
                    <div id="#sign-up-form-in">
                        <form action="" method="post">
                            <input type="text" placeholder="EMAIL" onclick="leadGen()">
                        <span id="right-arrow-lead">
                            <img src="static\arrow right icon.svg" alt="" onclick="leadGen()">
                        </span>
                        <div class="custom-input-border"></div>
                        </form>
                    </div>
                    
                </div>
                <div id="show-reel-container">
                </div>
            </div>
        </div>
</body>
</html>