<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canoo: Electric Lifestyle, Sport and Working Vehicles</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="canoo icon" href="{{ url_for('static', filename='canoo_website_logo.jpg') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div id="m-body">
        <nav>
            <div id="hamburger" onclick="extendnav()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div id="action-menu">
                <div class="action-item-l">
                    <div class="action-item">
                        <img src="{{ url_for('static', filename='left-chev-arrow.svg') }}" alt="exit navbar" onclick="retractnav()">
                    </div>
                    <div class="action-item"></div>
                    <div class="action-item"></div>
                    <div class="action-item"></div>
                    <div class="action-item"></div>
                    <div class="action-item"></div>
                </div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </nav>
    </div>
</body>
</html>